$breakpoint-mobile: 48em;
$grid-gap: 1em;

$background-color: #F6EBF4;
$fill-color: #F6EBF4;
$primary-color: #023B59;
$secondary-backround-color: #4CBFA6;
$secondary-color: #482673;
$text-color: rgba(0, 0, 0, .87);

@function to-rgba($color, $opacity: .25) {
    @return rgba($color, $opacity)
}

#root {
    background-color: $fill-color;    
    color: $text-color;
}

.account {
    justify-items: center;
}

.app-header {
    align-items: center;
    min-height: 3em;
    background-color: $background-color;
    z-index: 1000;

    .manager-info {
        align-items: start;
        margin-left: 1em;

        .avatar {
            justify-self: center;
            margin: .5em;

            @mixin circle($diameter) {
                border-radius: 50%;
                height: $diameter;
                width: $diameter;
            }

            .circle {
                @include circle(3em);
                background-color: $secondary-color;
            }

            .img {
                @include circle(3em);
            }
        }

        .text-info {
            justify-items: start;
            padding: .5em 0;

            @mixin text-positioning {
                align-content: center;
                display: grid;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .name {
                @include text-positioning();
                font-size: medium;
                font-weight: bolder;
            }

            .position {
                @include text-positioning();
                font-size: small;
            }
        }
    }
}

@mixin container-positioning {
    justify-self: center;
    padding: 3em;
}

.container {
    @include container-positioning();
    height: 100vh;    
    justify-items: center;
    max-width: 800px;
}

.secondary-container {
    @include container-positioning();
    background-color: $secondary-backround-color;
    height: 100vh;
}

.logo {
    align-self: end;
    color: $primary-color;
    font-family: 'Inter';
    font-size: 3em;
    font-style: normal;
    font-weight: bold;
    text-align: end;    
    justify-self: end;
    margin-right: 1em;
}

.shadowed {
    filter: drop-shadow(.25em .25em .25em to-rgba($secondary-color));
}

.vertically-shadowed {
    filter: drop-shadow(0 .25em .25em to-rgba($secondary-color));
}

// grid

@mixin dynamic-grid-template($gap: $grid-gap) {
    display: grid;
    grid-gap: $gap;
}

@mixin dynamic-grid($column-number, $gap: $grid-gap) {
    @include dynamic-grid-template($gap);
    grid-template-columns: repeat($column-number, 1fr);  
}

@mixin dynamic-vertical-grid($column-number, $gap: $grid-gap) {
    @include dynamic-grid-template($gap);
    grid-template-rows: repeat($column-number, 1fr);  
}

.grid-3 {
    @include dynamic-grid(3)
}

.grid-4 {
    @include dynamic-grid(4)
}

.grid-6 {
    @include dynamic-grid(6)
}

.grid-12 {
    @include dynamic-grid(12)
}

.height-1 {
    grid-row: span 1;
}

.height-2 {
    grid-row: span 2;
}

.height-3 {
    grid-row: span 3;
}

.height-4 {
    grid-row: span 4;
}

.vertical-grid-2 {
    @include dynamic-vertical-grid(2)
}

.vertical-grid-2-slim {
    @include dynamic-vertical-grid(2, 0)
}

.vertical-grid-3 {
    @include dynamic-vertical-grid(3)
}

.vertical-grid-12 {
    @include dynamic-vertical-grid(12)
}
  
.width-1 {
    grid-column: span 1;
}
  
.width-2 {
    grid-column: span 2;
}
  
.width-3 {
    grid-column: span 3;
}
  
.width-4 {
    grid-column: span 4;
}
  
.width-5 {
    grid-column: span 5;
}
  
.width-6 {
    grid-column: span 6;
}
  
.width-7 {
    grid-column: span 7;
}
  
.width-8 {
    grid-column: span 8;
}
  
.width-9 {
    grid-column: span 9;
}
  
.width-10 {
    grid-column: span 10;
}
  
.width-11 {
    grid-column: span 11;
}
  
.width-12 {
    grid-column: span 12;
}
  
.width-1m {
    @media (min-width: $breakpoint-mobile) {
      grid-column: span 1;
    }
}
  
.width-2m {
    @media (min-width: $breakpoint-mobile) {
      grid-column: span 2;
    }
}
  
.width-3m {
    @media (min-width: $breakpoint-mobile) {
      grid-column: span 3;
    }
}
  
.width-4m {
    @media (min-width: $breakpoint-mobile) {
      grid-column: span 4;
    }
}
  
.width-5m {
    @media (min-width: $breakpoint-mobile) {
      grid-column: span 5;
    }
}
  
.width-6m {
    @media (min-width: $breakpoint-mobile) {
      grid-column: span 6;
    }
}
  
.width-7m {
    @media (min-width: $breakpoint-mobile) {
      grid-column: span 7;
    }
}
  
.width-8m {
    @media (min-width: $breakpoint-mobile) {
      grid-column: span 8;
    }
}
  
.width-9m {
    @media (min-width: $breakpoint-mobile) {
      grid-column: span 9;
    }
}
  
.width-10m {
    @media (min-width: $breakpoint-mobile) {
      grid-column: span 10;
    }
}
  
.width-11m {
    @media (min-width: $breakpoint-mobile) {
      grid-column: span 11;
    }
}
  
.width-12m {
    @media (min-width: $breakpoint-mobile) {
        grid-column: span 12;
    }
}
